body{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;
    height: 80px;
    margin-top: 0%;
    background-image: linear-gradient(#48649f,#3B5998);
    border-bottom: 1px solid #253a69;
}

.logo{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:white ;
    height: 65px;
    left: 10%;
}

.signup{
    display: flex;
    position: relative;
    justify-content: right;
    padding-top: 20px;
    padding-right: 10px;
}

.signup .email,
.signup .password 
{
  padding-left: 20px;
}

.signup .email .font,
.signup .password .font
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.signup .email input,
.signup .password input
{
    height: 23px;
    width: 150px;
    padding-left: 5%;
    border-radius: 1px solid black;
    outline: none;
}

.login-btn{
    width: 5opx;
    height: 24px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 20px;
    border: 2px;
    outline: none;
    cursor: pointer;
    color: white;
    background: #2d5bba;
    border: 1px solid #224285;
}

/* Home */
.home {
    display: flex;
    width: 100%;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

/* home-left */
.home-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 3rem;
    flex-wrap: wrap;
}

.left-logos {
    display: flex;
    flex-direction: column;
}

.left-logos>div {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
}

.left-logos>div>i {
    margin-right: 0.8rem;
    font-size: 2rem;
}

.left-logos>div>p {
    margin-right: 0.8rem;
    font-weight: 500;
}

.share, .find, .update{
    font-size: medium;
}

/* home right */
.home-right {
    width: 50%;
    /* background-color: red; */

}

h1 {
    font-size: xx-large;
    margin-bottom: .8rem;
}

h3 {
    margin-bottom: .9rem;
}

.home-right-top {
    width: 100%;

}

.first-and-last-name {
    margin-top: 1rem;
    margin-left: .6rem;
    display: flex;
    width: 100%;
}

.input-group1 {
    width: 45%;
    margin-left: .5rem;
}

.first-and-last-name input {
    width: 100%;

}

.first-and-last-name input:focus {
    outline: none;
}

.container-input {
    width: 100%;
}

.container-input>div {
    margin-left: .5rem;
    width: 100%;
}

.container-input>div>input {
    outline: none;
    width: 91%;
    
}

/* homeright-buttom */

.home-right-buttom {
    margin-top: 2rem;
}

.radio-btns {
    display: flex;
}

.radio-btn {
    margin: 1rem;
    display: flex;
}

.radio-btn>h4 {
    margin-left: .5rem;
}

.radio-btn>input {}

.container-input {
    margin: .7rem;
}

.home-right-top input {
    font-size: 1rem;
    padding: .4rem 1rem;
}

.btn-submit {
    padding: .5rem 4rem;
    margin-top: .9rem;
    background-color: #059816;
    border-radius: 4px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    font-size: 1rem;
    font-weight: 800;
    color: white;
    cursor: pointer;
}